/* logos and socials */

.socials{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

/* General Styles */
body {
    background-color: #000000;
    overflow-x: hidden;
    width: 100%;
    margin:0px;
    padding:0px;
}

a{
    color:#FFF;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    font-size: x-large;
    padding: 15px;
}

.title, h1, h2, p {
    color: #fff;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    margin: 0px;
    font-size: 48px;
    padding: 5px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: #858585;
}

p {
    font-family: "Alegreya", serif;
    font-size: large;
}

/* Navigation */

header{
    position: absolute;
    top: 0px;
    width: 100%;
    left:0px;
}

.hamburger{
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 5px;
    width: 28px;
    height: auto;
    z-index: 1;
}

/* footer */
footer{

    
}

/*images*/
.background-Image{
    position: relative;
}


/* Button */



/* positioning */
.centre-content{
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.centre-vertical{
    position: absolute;
    top:calc(50% - 20px);
}


/* Contact Details */





/* Responsive Design */


@media only screen and (min-width: 768px) and (max-width: 1400px) {
    /* Tablets and smaller screens */

}

@media only screen and (min-width: 768px) {
    /* Desktop */

    
}

